<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/bootsrap/css/bootstrap.min.css">
</head>
<body>
  
    <div class="container">
        <div class="card d1 mt-5">
            <div class="card-body mb-5">
                <div class="row">
                    <div class="col-md-6 font20 font600 mb-2">Current subscription</div>
                </div>
                <div class="card p-3 d1 mt-2">
                    <div class="row">
                        <div class="col">
                            <div class="font30 font600">Business</div>
                            <div name="font400 font16">for small businesses and teams</div>
                        </div>

                        <div class="col">
                            <div class="float-end">
                                <span class=" font30 font600 ">$25.00</span><br>
                                <span class="font400 font14 ">per month</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="font20 font 600 mb-2 mt-4">Add ons to the plan</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card p-3 mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="font18 font600">phishing management</div>
                                </div>
                                <div class="col">
                                    <div class="float-end">
                                        <span class="font20 font500">$3.00</span>
                                        <span class="font14 font400"> per month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-3">
                            <div class="row">
                                <div class="col">
                                    <div class="font18 font600">Office 365 Security</div>
                                </div>
                                <div class="col">
                                    <div class="float-end">
                                        <span class="font20 font500">$3.00</span>
                                        <span class="font14 font400">per month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>