<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- // bootsrap css files -->
    <link rel="stylesheet" href="/bootsrap/css/bootstrap.min.css">
    <!-- // customised css file -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- // customized js file -->
    <script src="/static/js/password.js"></script>

</head>
<body>
    <div class="container-fluid d-flex  justify-content-center  ">
        <div class="card shadow m-5">
            <div class="card-body">
                <div class="font24 font600">Reset Partner Password</div>
                <div class="font16 font400">once the password is reset, the partner will not be able to login with their
                    old password.</div>
                <div class="card card-width-27  p-3 shadow m-5">
                    <div class="card-body">
                        <form id="frmLogin" name="frmLogin" action="" method="POST">
                            <label class="text-left">New Password</label>
                            <input id="password" class="form-control " type="password" name="password" autofocus=""
                                placeholder="Enter a new password" required />
                            <div id="password-strength-status"></div>
                            <label class="text-left mt-4">Confirm New Password </label>

                            <input id="confirmPassword" class="form-control" type="password" name="confirmnewpassword"
                                placeholder="Re-enter your new password to confirm" required />


                            <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                            <div class="d-flex gap-2 mt-4">
                                <button class="btn btn-primary clr p-2" id="cancel" type="submit">cancel</button>



                                <button class="btn btn-primary bg-clr p-2" id="resetbutton" type="submit">Reset
                                    Password</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script>
        //jquery for this form
        //border colors for input field

        $("#resetbutton").click(function () {
            $("input").each(function () {
                if ($(this).val() == "") {
                    $(this).css("border", "1px solid red");
                }
            });
        });
        $("input").change(function () {
            if ($(this).val() !== "") {
                $(this).css("border", "1px solid green");
            }
        });
        //reset the inputs entered
        $("#cancel").click(function () {
            $(this).closest('form').find("input[type=password], textarea").val("");
            $(this).closest('form').find("input, border")
        });
        //newpassword and confirm password validation
        $(document).ready(function () {
            $("#confirmPassword").on('keyup', function () {
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                if (password != confirmPassword)
                    $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                else
                    $("#CheckPasswordMatch").html("Password match !").css("color", "green");
            });
        });
        //password strength
        $(document).ready(function () {
            $("#password").on('keyup', function () {
                var number = /([0-9])/;
                var alphabets = /([a-zA-Z])/;
                var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
                if ($('#password').val().length < 6) {
                    $('#password-strength-status').removeClass();
                    $('#password-strength-status').addClass('weak-password');
                    $('#password-strength-status').html("Weak (should be atleast 6 characters.)");
                } else {
                    if ($('#password').val().match(number) && $('#password').val().match(alphabets) && $('#password').val().match(special_characters)) {
                        $('#password-strength-status').removeClass();
                        $('#password-strength-status').addClass('strong-password');
                        $('#password-strength-status').html("Strong");
                    } else {
                        $('#password-strength-status').removeClass();
                        $('#password-strength-status').addClass('medium-password');
                        $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters or some combination.)");
                    }
                }
            });
        });
    </script>
</body>
</html>